page-sellDetailTopten{
   
   .div-charts {
     width: 100%;
     height: 100%;
   } 

 .scroll-content {
   height: 100%
 }
  #chart_item {
    margin: 0 auto;
     height: 500px;
    margin-bottom: 5px;
    p {
      font-size: 1.2rem;
    }
  }
  .ion-title{
    padding: 0 90px 1px;
}
   
}
