// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//顶部背景
ion-title {
  background-color : $green;
  text-align: left  ;
}
.list-ios {
  margin: 0 0 10px 0;
}
//标题栏字体
.toolbar-title-md,
.toolbar-title-ios {
  font-size: 1.6rem;
  color:white;
 padding-right: 10%;
}
.ion-buttons-search {
  width: 100%; height:30px; margin-left: 3%; background: #33cd5f;color: #FFFFFF; 
  font-size: 1.5rem; font-weight:bold;
}

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width:120%;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
}
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #f4f4f4;
        background-color: transparent;
    }