<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu" ></ion-icon>
    </button>
        <ion-title style="width: 106%;"><span style="color: white;">商品毛利额前五十</span></ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <label class="item item-input" style="height:30px; width: 90%; margin-left: 5%; margin-top: 5px; float: left">开始时间
             &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  <span ion-datepicker locale="en-US" (ionChanged)="eventStart($event)"  okText="确定" cancelText="取消"
	 [value]="startDate"  full="true" clear class="ScheduleDate">
{{startDate | date:'yyyy-MM-dd' }} 
             </span>  
               </label>
    <label class="item item-input" style="height:25px; width: 90%;   margin-left: 5%;float: left">结束时间
          &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;     <span ion-datepicker locale="en-US" (ionChanged)="eventEnd($event)"  okText="确定" cancelText="取消" 
	 [value]="endDate"  full="false" clear class="ScheduleDate">
{{endDate | date:'yyyy-MM-dd' }} 
             </span>  
               </label>
    <button class="ion-buttons-search" (click)="searchs()" style="width: 94%; margin-left: 3%;margin-right: 3%;">查询</button>
    <!--<div style="width: 92%; margin-left: 5%;margin-top: 13px; float: left">
            <div  style="width: 30%; margin-left:0%; float:left;text-align: left;height: 25px; line-height: 25px; ">商品名称</div>
            <div  style="width: 60.5%; margin-right: 0;float: right; text-align: left;height: 25px; line-height: 25px;border-radius:4px;margin-right: 2%">

                <div style=" margin-right: 1%; float: right;"><span style="color:red ">毛利额</span></div>
                <div style="width: 15px;height: 15px; float: right; background-color: red"></div>
                <div style=" float: right;"><span style="color:#11BEF7 ">销售额</span></div>
                <div style="width: 15px;height: 15px; float: right;   background-color: #11BEF7"></div>
            </div>
        </div>-->
    <!--<div style="width: 94%; margin-left: 3%;margin-right: 3%; margin-top: 13px; float: left">
        <div style="width: 100%">
            <div style="width: 58%;padding-left: 6%;float:left;text-align: left;height: 25px; line-height: 25px;font-size:16px; ">商品名称</div>
            <div style="width: 39%; margin-right: 0;float: left; text-align: left;height: 15px; line-height: 15px;border-radius:4px;margin-right: 2%">
                <div style=" margin-right: 1%; float: right;line-height: 15px;"><span style="color:red ">毛利额</span></div>
                <div style="width: 15px;height: 15px; float: right; background-color: red;line-height: 15px;"></div>
                <div style=" float: right;line-height: 15px;"><span style="color:#11BEF7 ">销售额</span></div>
                <div style="width: 15px;height: 15px; float: right;   background-color: #11BEF7;line-height: 15px;"></div>
            </div>
        </div>
    </div>
    <br/>
    <div style="margin-top: 5px; float: left;width: 100%;">
        <ion-list *ngFor="let info of productList" style="width: 94%; margin-left: 3%;">
            <ion-item class="item-content">
                <div style="width: 100%;">
                    <div style="width: 62%;float:left;line-height:50px; color: grey;text-overflow:ellipsis;overflow:hidden;"><!--style="width: 62%;float:left; color: grey;white-space: initial;"-->
    <!--<a title="{{info.PRODUCT_NAME}}" href="javascript:void(0)" style="text-decoration:none;color: grey">
                            {{info.PRODUCT_NAME}}
                        </a>-->
    <!--  <abbr title="{{info.PRODUCT_NAME}}">{{info.PRODUCT_NAME}}</abbr>
                    </div>
                    <div style="width: 35%; float:left; ">
                        <div style="width: 100%; height: 25px;  text-align: left;color: #11BEF7;">￥{{info.SUMAMOUNT}}</div>
                        <div style="width: 100%; height: 25px;  text-align: left;color: red;">￥{{info.PROFIT}}</div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </div>-->

    <table class="talbeList">
        <thead>
            <tr>
                <th class="category">商品名称</th>
                <th class="profit">
                    <div style="width: 15px;height: 15px; float: left;background-color: red;line-height:15px;margin-top: 3px;"></div>
                    <div class="profit_mo">毛利额</div>
                    <div style="width: 15px;height: 15px; float: left;background-color: #11BEF7;line-height:15px;margin-top: 3px;"></div>
                    <div class="profit_xiao">销售额</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let info of productList">
                <td class="category">
                    {{info.PRODUCT_NAME}}
                </td>
                <td class="profit">
                    <div class="profit_mo">￥{{info.PROFIT}}</div>
                    <div class="profit_xiao">￥{{info.SUMAMOUNT}}</div>
                </td>
            </tr>
        </tbody>
    </table>

</ion-content>